@import "../layout/layout";
@import "../layout/reset";


@font-face {
    font-family: "cht-cjkFonts";
    src: url("../font/cht-cjkFonts.ttf") format("truetype");
}

@font-face {
    font-family: "cht-huninn";
    src: url("../font/cht-huninn.ttf") format("truetype");
}


@font-face {
    font-family: "jp-mgen-md";
    src: url("../font/jp-mgen-1cp-md.ttf") format("truetype");
}

@font-face {
    font-family: "jp-mgen-lt";
    src: url("../font/jp-mgen-1p-light.ttf") format("truetype");
}